
data/.DS_Store
scripts/.DS_Store
scripts/analysis/.DS_Store
results/cluster.0.prism.npz
results/cluster.1.prism.npz
results/cluster.0/*mov
results/cluster.0/dmaps/distance_work/sampcon_curr_cluster_models.rmf3
results/cluster.0/sampcon_cluster0_models.rmf3
results/cluster.0/dmaps/tests_w_new_script/w_new_at_r10/sampcon_curr_cluster_models.rmf3
results/cluster.0/dmaps/tests_w_new_script/old_3mdl/A_models_clust1.rmf3
results/cluster.0/dmaps/tests_w_new_script/old_3mdl/B_models_clust1.rmf3
results/cluster.0/dmaps/tests_w_new_script/sampcon_curr_cluster_models.rmf3
results/cluster.0/dmaps/distance_work/sampcon_curr_cluster_models.rmf3
results/cluster.0/dmaps/sampcon_curr_cluster_models.rmf3
*/*vscode