
data/.DS_Store
scripts/.DS_Store
scripts/analysis/.DS_Store
results/*mov
results/dmaps/distance_work/sampcon_curr_cluster_models.rmf3
results/sampcon_cluster0_models.rmf3
results/dmaps/sampcon_curr_cluster_models.rmf3
*/*vscode